<div #svgContainer id="svgContainer">
  <svg:svg
    id="board"
    [attr.viewBox]="viewBox"
    transform="scale(2)"
    transform-origin="0 0"
    [attr.width]="boardWidth">
    @for (item of flatCells; track $index) {
      <svg:g>
        <!-- <svg:text>tsssest</svg:text> -->
        @switch (getType(item)) {
          @case ('StartCell') {
            <svg:g app-start [orderNumber]="$index" />
          }
          @case ('Property') {
            <svg:g
              app-property-cell
              [cell]="$any(item)"
              [orderNumber]="$index" />
          }
          @case ('AreaSite') {
            <svg:g app-area-cell [cell]="$any(item)" [orderNumber]="$index" />
          }
          @case ('CardEventCell') {
            <svg:g app-card-cell [cell]="$any(item)" [orderNumber]="$index" />
          }
          @case ('IncomeCell') {
            <svg:g
              app-income-cell
              [income]="$any(item).amount"
              [orderNumber]="$index" />
            1
          }
          @case ('TaxCell') {
            <svg:g
              app-tax-cell
              [tax]="$any(item).amount"
              [orderNumber]="$index" />
            1
          }
          @case ('MoveToCenter') {}
          @default {
            <!-- <svg:g app-land [orderNumber]="$index" /> -->
          }
        }
      </svg:g>
    }
  </svg:svg>
</div>
