<ul>
  @for (room of roomsList; track room.id) {
    <li>
      <span>{{ room.id }}</span>

      @if (room.users.length < 2) {
        <span>
          <button (click)="enterRoom(room.id)">Join</button>
        </span>
      } @else {
        <span> (Full) </span>
      }
      <!-- <ng-container *ngIf="userId === user; then you; else id"></ng-container> -->
      <!-- <ng-template #you>
      <span>YOU</span>
    </ng-template>
    <ng-template #id> -->
    <!-- </ng-template> -->
  </li>
}
@if (roomsList.length < 1) {
  <div>
    <span>No games.</span>
  </div>
}
<div>
  <button (click)="createDialog.show()">Create</button>
</div>
</ul>
<app-create-room #createDialog />