<svg:g class="app-card-cell" app-cell-wrapper [orderNumber]="orderNumber">
  <svg:g>
    <svg:line [attr.x1]="x" [attr.y1]="positionY" [attr.x2]="x + width" [attr.y2]="positionY" [attr.stroke]="color">
    </svg:line>
    <svg:g
      [attr.transform]="'translate(' + cardCenterX + ',' + (positionY - height/2) + ') scale(' + patternScale + ')'"
      [innerHTML]="cardPattern">
    </svg:g>
    <svg:text [attr.x]="x + width/2" [attr.y]="height" font-family="Verdana" font-size="30" text-anchor="middle">
      {{ label }}
    </svg:text>
  </svg:g>
</svg:g>