<svg:g class="app-card-cell" app-cell-wrapper [orderNumber]="orderNumber" [static]="staticMode">
  <svg:g>
    <svg:text [attr.x]="localX + width / 2" [attr.y]="height / 3" [attr.font-family]="font" [attr.font-size]="fontSize"
      text-anchor="middle">
      <!-- [attr.fill]="color" -->
      <svg:tspan [attr.x]="localX + width / 2" dy="1.2em" i18n="@@areasite">Areasite</svg:tspan>
      <svg:tspan [attr.x]="localX + width / 2" dy="1.2em">{{ cell.object.price }}</svg:tspan>
    </svg:text>
    <svg:g class="owner-mark">
      @if (cellOwned) {
      <svg:circle [attr.cx]="ownerX" [attr.cy]="ownerY" [attr.r]="ownerMarkRadius" [attr.fill]="ownerColor"
        stroke="black" [attr.stroke-width]="1">
      </svg:circle>
      }
    </svg:g>
  </svg:g>
</svg:g>