<svg:g class="app-card-cell" app-cell-wrapper [orderNumber]="orderNumber">
  <svg:g>
    <svg:text
      [attr.x]="x + width / 2"
      [attr.y]="height / 3"
      [attr.font-family]="font"
      [attr.font-size]="fontSize"
      text-anchor="middle">
      <!-- [attr.fill]="color" -->
      <svg:tspan [attr.x]="x + width / 2" dy="1.2em">{{ 'areasite' | translate }}</svg:tspan>
      <svg:tspan [attr.x]="x + width / 2" dy="1.2em">{{ cell.object.price }}</svg:tspan>
    </svg:text>
  </svg:g>
</svg:g>
