<div id="game-control" app-frozen-when-paused>
  <div class="control-header" style="display: flex; justify-content: space-between;">
    <h3 i18n="@@game-control">Game Control</h3>
    <h5>{{ TurnState }}</h5>
  </div>

  <div class="turn-info">
    <div class="current-player">
      <label i18n="@@active-player">Active Player:</label>
      <span class="player-name">
        <span>
          {{ currentPlayerName }}
        </span>
        @if (isMyTurn) {
        <span i18n="@@you">
          (You)
        </span>
        }
      </span>
    </div>

    <!-- <div class="turn-state" *ngIf="turnState">
    <label>State:</label>
    <span class="state-badge" [class]="'state-' + turnState.toLowerCase()">
      {{ turnState }}
    </span>
  </div> -->
  </div>

  <app-control-actions />
  <!-- TODO: use directives? -->
  @if (canBuyProperty) {
  <app-buy-property />
  }
  @if (TurnState === 'Trading' && isMyTurn) {
  <app-turn-control />
  }
</div>