<div id="game-control">
  <div class="control-header" style="display: flex; justify-content: space-between;">
    <h3 translate>Game Control</h3>
    <h5>{{ TurnState | translate }}</h5>
  </div>

  <div class="turn-info">
    <div class="current-player">
      <label translate="">Active Player:</label>
      <span class="player-name">
        <span>
          {{ currentPlayerName }}
        </span>
        <span *ngIf="isMyTurn">
          ({{ 'You' | translate }})
        </span>
      </span>
    </div>

    <!-- <div class="turn-state" *ngIf="turnState">
      <label>State:</label>
      <span class="state-badge" [class]="'state-' + turnState.toLowerCase()">
        {{ turnState }}
      </span>
    </div> -->
  </div>

  <app-control-actions />
  <!-- TODO: use directives? -->
  <app-buy-property *ngIf="canBuyProperty" />
  <app-turn-control *ngIf="TurnState === 'Trading' && isMyTurn" />
</div>